/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is brown.
 *
 * This theme is Copyright (C) 2012-2013 Owen Versteeg, http://owenversteeg.com - it is MIT licensed.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Override theme settings (see ../template/settings.scss)
$mainFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$mainColor: #031414;
$headingFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$headingColor: #103430;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #F2F2F2;
$linkColor: #2BD9D9;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #49736F;

.reveal a {
  line-height: 1.3em;
}

.reveal .resizebox {
    width: 150px;
    height:150px;
    border: 1px solid #49736F;
    margin:1rem;
    resize: both;
    overflow: auto;
    background-color: lighten( $selectionBackgroundColor, 60% ) ;
    font-size: 3rem;
    padding:1rem;
    text-align: left;
}
.reveal section img {
    border: none !important;
}
.reveal table {
    font-size: 1.1rem;
}
// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Mine!

.unicode-logo {
    box-shadow: none !important;
}